<script>
  import UserRegister from '~/components/admin/UserRegister'

  export default {
    layout: 'admin',
    fetch({
      store
    }) {
      store.commit('global/setPageTitle', 'Usuarios / actualizar')
    },
    components: {
      UserRegister
    }
  }
</script>

<template>
  <UserRegister :id-user="$route.params.id"/>
</template>
