<script>
  import UserRegister from '~/components/admin/UserRegister'

  export default {
    layout: 'admin',
    fetch({
      store
    }) {
      store.commit('global/setPageTitle', 'Usuarios / registro')
    },
    components: {
      UserRegister
    }
  }
</script>

<template>
  <UserRegister/>
</template>
