<template>
  <div class="fake-content">
    <div class="title"></div>
    <div class="line short1"></div>
    <div class="line short1"></div>
    <div class="line short1"></div>
    <div class="line short1"></div>
    <div class="line short2"></div>
    <div class="line short3"></div>
    <div class="line short3"></div>
    <div class="line short2"></div>
    <div class="line short3"></div>
  </div>
</template>

<style lang="scss">
  .fake-content{
    max-width: 1080px;
    filter: blur(3px);
    .title{
      height: 40px;
      background: #F2F2F2;
      margin-top: 40px;
      margin-bottom: 30px;
      border-radius: 4px;
    }
    .line{
      height: 18px;
      background: #F2F2F2;
      margin-bottom: 12px;
      border-radius: 4px;

      &.short1{
        width: 95%;
      }

      &.short2{
        width: 90%;
      }

      &.short3{
        width: 85%;
      }
    }
  }
</style>
