<script>
  import ApiService from '~/services/ApiService'
  import moment from 'moment'

  export default {
    props: {
      item: null
    },
    data() {
      return {
        urlImages: ApiService.getUrlRoot() + 'public/uploads/projects/',
        countdown: null,
        swiperOption: {
          grabCursor: true,
          speed: 1000,
          autoplay: 2000,
          autoHeight: true,
          autoplayDisableOnInteraction: false
        }
      }
    },
    mounted() {
      this.countdown = moment().to(moment(this.item.end), true)
    }
  }
</script>

<template>
  <el-row>
    <el-col :xs="24" :sm="16">
      <div class="item-content">
        <h1 class="name"><span class="teal-font"><a :href="'/iniciativas/apoyo?id=' + item.id">{{ item.name }}</a></span></h1>
        <h2>Faltan <span class="green-font">{{ countdown }}</span> para lograr la meta de <span class="green-font">$ {{ item.amount }}</span></h2>

        <div class="detail">
          <h3>Mi nombre es {{ item.person }}</h3>

          <h3>¿Quién soy?</h3>
          <p>{{ item.abstract_person }}</p>

          <h3>Mi iniciativa trata de</h3>
          <p>{{ item.abstract_project }}</p>

          <h3>Necesito tu ayuda para</h3>
          <p>{{ item.necessity }}</p>

          <h3>¿Cómo me veo en un futuro cercano?</h3>
          <p>{{ item.vision }}</p>
        </div>
      </div>
    </el-col>

    <el-col :xs="24" :sm="8">
      <div class="images-content">
        <div class="main-photos" v-if="item.images && item.images.length">
          <div v-swiper="swiperOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="itemImage in item.images">
                <img :src="urlImages + itemImage.name + '.' + itemImage.ext">
              </div>
              <div class="swiper-pagination" slot="pagination"></div>
            </div>
          </div>
        </div>
        <div class="video" v-if="item.video">
          <youtube :video-id="item.video" player-width="420" player-height="315"></youtube>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<style lang="scss">
  .main-photos {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #ccc;
    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .images-content {
    padding-top: 25px;
    .video {
      margin-top: 25px;
      iframe{
         border-radius: 10px;
      }
    }
  }

  .item-content {
    padding: 25px;
    h1.name {
      margin-top: 0;
    }
    .detail {
      padding-top: 5px;
      p {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
</style>
