<script>
  import ApiService from '~/services/ApiService'
  import ProjectItem from './ProjectItem'
  import FakeContent from '../generic/FakeContent'

  export default {
    components: {
      ProjectItem,
      FakeContent
    },
    data() {
      return {
        urlImages: ApiService.getUrlRoot() + 'public/uploads/projects/',
        currentPage: 0,
        pageSize: 4,
        totalPages: 0,
        projects: [],
        loading: null,
        swiperOption: {
          grabCursor: true,
          loop: true,
          speed: 1000,
          autoplay: 2000,
          autoHeight: true,
          autoplayDisableOnInteraction: false
        }
      }
    },
    mounted() {
      this.findProjects(this.currentPage)
    },
    methods: {
      findProjects(page) {
        this.currentPage = page

        ApiService.get(`public/projects?page=${page}&size=${this.pageSize}`)
          .then((res) => {
            this.projects = res.data.projects
            this.totalPages = res.data.total
          })
      },
      handlePageChange(val) {
        this.findProjects(val - 1)
      }
    }
  }
</script>

<template>
  <div class="container" id="top">
    <h1 class="title">Éstas son las iniciativas que<br>puedes apoyar</h1>
    <div class="page-content">

      <div v-if="!projects.length">
        <FakeContent/>
        <FakeContent/>
      </div>

      <div class="projects">
        <div class="item" v-for="item in projects" v-if="projects.length">
          <ProjectItem :item="item" />
        </div>
      </div>

      <el-pagination v-scroll-to="'#top'" layout="prev, pager, next" :page-size="pageSize" :total="totalPages" @current-change="handlePageChange">
      </el-pagination>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px;
    background: #00bcb4;
    padding: 40px;
    top: 100px;
    left: 0;
    right: 0;
    position: absolute;
    color: #fff;
    z-index: -1;
  }

  .page-content {
    padding-top: 280px;
    padding-bottom: 50px;
    min-height: 750px;
    max-width: 1240px;
    min-height: 850px;
    margin: 0 auto;
    .projects {
      .item {
        margin-bottom: 40px;
        padding-bottom: 20px;
        box-shadow: 0px 7px 8px -7px #ccc;
      }
    }
  }
</style>
