<script>
  export default {
    data() {
      return {
        scrolled: false
      }
    },
    methods: {
      handleScroll: function() {
        this.scrolled = document.body.scrollTop > 200
      }
    },
    mounted() {
      this.handleScroll()
      window.addEventListener('scroll', this.handleScroll)
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.handleScroll)
    }
  }
</script>

<template>
  <div class="home-header" v-bind:class="{'scrolled': scrolled}">
    <a href="/"><img class="logo" src="/img/logo-smilenet-teal.svg" /></a>
    <div class="menu">
      <a class="item" href="/iniciativas">Iniciativas</a>
      <a class="item" href="/#aboutus-section">¡Nosotros somos!</a>
      <a class="item" href="/#process-section">Súmate</a>
      <a class="item" href="http://smilenet.mx/tienda" target="_blank">Tienda</a>
      <a class="item" href="/#contact-section">Contáctanos</a>
    </div>

    <div class="menu-mobile">
      <el-dropdown>
        <el-button type="primary">
          Menú<i class="el-icon-caret-bottom el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item><a class="item" href="/iniciativas">Iniciativas</a></el-dropdown-item>
          <el-dropdown-item><a class="item" href="/#aboutus-section">¡Nosotros somos!</a></el-dropdown-item>
          <el-dropdown-item><a class="item" href="/#process-section">Súmate</a></el-dropdown-item>
          <el-dropdown-item><a class="item" href="http://smilenet.mx/tienda" target="_blank">Visita nuestra tienda</a></el-dropdown-item>
          <el-dropdown-item><a class="item" href="/#contact-section">Contáctanos</a></el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-header {
    background: rgba(#fff, 0.4);
    position: absolute;
    height: $home-header-height;
    width: 100%;
    box-shadow: 0 0 35px -10px rgba(#000, 0.25);
    transition: top 500ms ease;
    .logo {
      width: 145px;
      filter: drop-shadow(3px 3px 6px rgba(#fff, 0.5));
      margin-left: 35px;
      cursor: pointer;
    }
    .menu {
      float: right;
      padding-top: 30px;
      display: none;
      .item {
        display: inline-block;
        font-size: 1rem;
        padding: 10px;
        margin-right: 3px;
        text-transform: uppercase;
        text-decoration: none;
        color: $teal-color;
        transition: background-color 500ms ease-out;
        &:hover {
          background-color: $teal-color;
          color: #fff;
          border-radius: 5px;
        }
        &:last-child {
          padding-right: 15px;
        }
      }
    }
    .menu-mobile {
      display: block;
      position: absolute;
      right: 20px;
      top: 30px;
    }
    @media (min-width: 980px) {
      .menu {
        display: block;
      }
      .menu-mobile {
        display: none;
      }
    }
  }

  .home-header.scrolled {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 55px;
    width: 100%;
    background: rgba(#fff, 0.95);
    .logo {
      width: 100px;
    }
    .menu {
      padding-top: 8px;
    }
    .menu-mobile {
      top: 10px;
    }
  }

  .el-dropdown-menu {
    .item {
      text-decoration: none;
      color: inherit;
    }
  }
</style>
