<script>
  import Projects from '~components/public/Projects.vue'

  export default {
    layout: 'public',
    components: {
      Projects
    }
  }
</script>

<template>
  <div>
    <Projects/>
  </div>
</template>
