<script>
  import ProjectList from '~/components/admin/ProjectList'

  export default {
    layout: 'admin',
    fetch({
      store
    }) {
      store.commit('global/setPageTitle', 'Iniciativas')
    },
    components: {
      ProjectList
    }
  }
</script>

<template>
  <ProjectList/>
</template>
