@import '_variables';
@import 'fonts';

html, body{
  padding: 0;
  margin: 0;
}

body {
  *{
    font-family: 'Quicksand', sans-serif;
  }
  overflow-x: hidden;
  overflow-y: auto;
}

b{
  font-weight: bold !important;
}

.orange-font{
  color: $orange-color;
}

.yellow-font{
    color: $yellow-color;
}

.green-font{
  color: $green-color;
}

.teal-font{
  color: $teal-color;
}

body, .el-table .cell{
  color: rgba(0,0,0,0.6);
}

.page-content{
  padding: 30px;

  .content-title{
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
}

.el-pagination{
  margin-top: 20px;
  text-align: center;
}

.fa-icon {
  width: auto;
  height: 1em;
}

.el-button--large{
  font-weight: bold !important;
  font-size: 1.5rem !important;
  padding: 1rem 1.5rem !important;
}

.el-table{
  .table-link-button{
    margin-right: 7px;
  }
}

.el-form.content{
  margin-top: 30px;
}

.el-upload-list--picture-card .el-upload-list__item-status-label{
  background: $teal-color;
}

.pull-right{
  float: right;
}

a{
  text-decoration: none;
  color: inherit;
}
