<script>
  import ProjectRegister from '~/components/admin/ProjectRegister'

  export default {
    layout: 'admin',
    fetch({
      store
    }) {
      store.commit('global/setPageTitle', 'Iniciativas / registro')
    },
    components: {
      ProjectRegister
    }
  }
</script>

<template>
  <ProjectRegister :id-project="$route.params.id"/>
</template>
