<script>
  import ApiService from '~/services/ApiService'
  import ProjectItem from '~components/public/ProjectItem.vue'
  import FakeContent from '~components/generic/FakeContent.vue'

  export default {
    layout: 'public',
    components: {
      ProjectItem,
      FakeContent
    },
    data() {
      return {
        project: null
      }
    },
    mounted() {
      let project = this.$route.query.id
      if (!project) {
        location.href = '/iniciativas'
      } else {
        ApiService.get(`public/projects/${project}`)
          .then((res) => {
            this.project = res.data
          })
      }
    }
  }
</script>

<template>
  <div class="page-content">
    <ProjectItem :item="project" v-if="project" />
    <div v-if="!project">
      <FakeContent />
      <FakeContent />
    </div>
  </div>
</template>

<style lang="scss">
  .page-content {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 750px;
  }
</style>
