<template>
  <div>
    <AdminHeader></AdminHeader>
    <SideMenu></SideMenu>
    <div class="app-content">
      <nuxt/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .app-content {
    margin-top: $admin-header-height;
    margin-left: $admin-menu-width;
    position: relative;
  }
</style>

<script>
  import AdminHeader from '~components/admin/Header.vue'
  import SideMenu from '~components/admin/SideMenu.vue'
  import AuthService from '~/services/AuthService'

  export default {
    components: {
      AdminHeader,
      SideMenu
    },
    beforeMount() {
      if (!AuthService.isAuthenticated()) {
        location.href = '/admin'
      }
    }
  }
</script>
