<template>
  <div>
    <PublicHeader/>
    <nuxt/>
    <Footer/>
  </div>
</template>

<script>
  import PublicHeader from '~components/public/PublicHeader.vue'
  import Footer from '~/components/landing/HomeFooter'

  export default {
    components: {
      PublicHeader,
      Footer
    }
  }
</script>
