<script>
  export default {
    data() {
      return {

      }
    },
    mounted() {

    }
  }
</script>

<template>
  <div class="header">
    <div class="page-title">
      {{ $store.state.global.pageTitle }}
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: $admin-menu-width;
    right: 0;
    height: $admin-header-height;
    background: #f9f9f9;
    box-shadow: 0 1px 2px #ccc;
    .page-title {
      padding: 10px 15px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
</style>
