<script>
  import ApiService from '~/services/ApiService'
  import AuthService from '~/services/AuthService'

  export default {
    data() {
      return {
        user: {
          user: '',
          pass: ''
        },
        rules: {
          user: [{
            required: true,
            message: 'Introduce el nombre de usuario',
            trigger: 'blur'
          }],
          pass: [{
            required: true,
            message: 'Introduce tu contraseña',
            trigger: 'blur'
          }]
        }
      }
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            ApiService.post('admin/auth', this.user).then((res) => {
              AuthService.setTokenToLocalStorage(res.data.token)
              setTimeout(() => {
                location.href = '/admin/iniciativas'
              }, 1000)
            }).catch((error) => {
              if (error.response.status === 401) {
                this.$message.error('El nombre de usuario o la contraseña son incorrectos')
                return false
              }
            })
          }
        })
        return false
      }
    }
  }
</script>

<template>
  <div class="page-login">
    <el-form class="login-form" label-position="top" :model="user" ref="user" :rules="rules" label-width="100px">
      <div class="logo">
        <img src="/img/logo-smilenet-teal.svg">
      </div>
      <el-form-item label="Usuario" prop="user">
        <div class="el-input">
          <input type="text" class="el-input__inner" v-model="user.user" />
        </div>
      </el-form-item>
      <el-form-item label="Contraseña" prop="pass">
        <div class="el-input">
          <input type="password" class="el-input__inner" v-model="user.pass" @keyup.enter="submitForm('user')" />
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" native-type="button" @click="submitForm('user')" class="pull-right">Iniciar sesión</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style lang="scss" scoped>
  .page-login {
    background: #f9f9f9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .login-form {
      max-width: 320px;
      margin: 0 auto;
      margin-top: 10%;
      box-shadow: 0 0 15px rgba(#000, 0.05);
      padding: 25px 25px 7px 25px;
      background: #fff;
      .logo {
        text-align: center;
        margin-bottom: 15px;
        img {
          width: 120px;
        }
      }
    }
  }
</style>
