<script>
  import ApiService from '~/services/ApiService'
  import FormatService from '~/services/DataFormatService'

  export default {
    data() {
      return {
        currentPage: 0,
        pageSize: 12,
        totalPages: 0,
        projects: []
      }
    },
    mounted() {
      this.findProjects(this.currentPage)
    },
    methods: {
      findProjects(page) {
        this.currentPage = page
        ApiService.get(`projects?page=${page}&size=${this.pageSize}`)
          .then((res) => {
            this.projects = res.data.projects
            this.totalPages = res.data.total
          })
      },
      handleDelete(index, row) {
        ApiService.delete(`projects/${row.id}`)
          .then((res) => {
            this.findProjects(this.currentPage)
          })
      },
      handlePageChange(val) {
        this.findProjects(val - 1)
      },
      formatStartDate(row) {
        return FormatService.date(row.start)
      },
      formatEndDate(row) {
        return FormatService.date(row.end)
      }
    }
  }
</script>

<template>
  <div class="page-content">
    <div class="content-title">Iniciativas registradas
      <nuxt-link to="/admin/iniciativas/registro">
        <el-button type="primary" class="pull-right">Nueva</el-button>
      </nuxt-link>
    </div>
    <el-table :data="projects" style="width: 100%">
      <el-table-column property="name" label="Clave"></el-table-column>
      <el-table-column property="person" label="Titular"></el-table-column>
      <el-table-column property="start" label="Inicio" :formatter="formatStartDate"></el-table-column>
      <el-table-column property="end" label="Titular" :formatter="formatEndDate"></el-table-column>
      <el-table-column label="Acciones" width="160">
        <template scope="scope">
            <nuxt-link class="table-link-button" v-bind:to="'/admin/iniciativas/registro/' + scope.row.id">
              <el-button size="small">Editar</el-button>
            </nuxt-link>
            <el-button size="small" @click="handleDelete(scope.$index, scope.row)">Borrar</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      small
      layout="prev, pager, next"
      :page-size="pageSize"
      :total="totalPages"
      @current-change="handlePageChange">
    </el-pagination>
  </div>
</template>
