<script>
  import AuthService from '~/services/AuthService'

  export default {
    data() {
      return {

      }
    },
    methods: {
      logout() {
        AuthService.removeTokenFromLocalStorage()
        location.href = '/admin'
      }
    }
  }
</script>

<template>
  <div class="menu">
    <div class="logo">
      <img src="/img/logo-smilenet-white.svg">
    </div>
    <div class="menu-items">
      <nuxt-link class="item" to="/admin/iniciativas">Iniciativas</nuxt-link>
      <nuxt-link class="item" to="/admin/iniciativas/registro">Nueva iniciativa</nuxt-link>
      <a class="item" href="http://smilenet.mx/tienda" target="_blank">Tienda</a>
      <a class="item" href="http://smilenet.mx/tienda/wp-admin" target="_blank">Admin Tienda</a>
      <nuxt-link class="item" to="/admin/usuarios">Usuarios</nuxt-link>
      <a href="#" class="item" v-on:click="logout()">Cerrar sesión</a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .menu {
    position: fixed;
    width: $admin-menu-width;
    top: 0;
    bottom: 0;
    background: $teal-color;
    overflow-x: hidden;
    overflow-y: auto;
    .logo {
      padding: 15px 20%;
    }
    .menu-items {
      .item {
        color: #fff;
        display: block;
        padding: 15px;
        text-decoration: none;
        &:hover {
          background: lighten($teal-color, 2);
        }
      }
    }
  }
</style>
