<script>
  import ApiService from '~/services/ApiService'

  export default {
    data() {
      return {
        currentPage: 0,
        pageSize: 12,
        totalPages: 0,
        users: []
      }
    },
    mounted() {
      this.findUsers(this.currentPage)
    },
    methods: {
      findUsers(page) {
        this.currentPage = page
        ApiService.get(`users?page=${page}&size=${this.pageSize}`)
          .then((res) => {
            this.users = res.data.users
            this.totalPages = res.data.total
          })
      },
      handlePageChange(val) {
        this.findUsers(val - 1)
      },
      handleDelete(index, row) {
        ApiService.delete(`users/${row.id}`)
          .then((res) => {
            this.findUsers(this.currentPage)
          })
      }
    }
  }
</script>

<template>
  <div class="page-content">
    <div class="content-title">Usuarios registrados
      <nuxt-link to="/admin/usuarios/registro">
        <el-button type="primary" class="pull-right">Nuevo</el-button>
      </nuxt-link>
    </div>
    <el-table :data="users" style="width: 100%">
      <el-table-column property="name" label="Nombre"></el-table-column>
      <el-table-column property="username" label="Nombre de usuario"></el-table-column>
      <el-table-column property="email" label="Email"></el-table-column>
      <el-table-column label="Acciones" width="160">
        <template scope="scope">
            <nuxt-link class="table-link-button" v-bind:to="'/admin/usuarios/registro/' + scope.row.id">
              <el-button size="small">Editar</el-button>
            </nuxt-link>
            <el-button size="small" @click="handleDelete(scope.$index, scope.row)" :disabled="scope.row.username === 'smilenet'">Borrar</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      small
      layout="prev, pager, next"
      :page-size="pageSize"
      :total="totalPages"
      @current-change="handlePageChange">
    </el-pagination>
  </div>
</template>
