<script>
  import ApiService from '~/services/ApiService'

  const requiredValidation = {
    required: true,
    message: 'Este campo es requerido',
    trigger: 'blur'
  }

  export default {
    props: {
      idUser: 0
    },
    data() {
      var passwordConfirmValid = (rule, value, callback) => {
        if (!this.user.id || (this.user.id && this.user.password !== this.backupPassword)) {
          if (!value) {
            return callback(new Error('Este campo es requerido'))
          }

          if (value !== this.user.password) {
            return callback(new Error('El password no coincide'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }

      return {
        period_dates: null,
        backupPassword: '',
        user: {
          id: null,
          name: '',
          username: '',
          email: '',
          password: '',
          passwordConfirm: ''
        },
        rules: {
          name: [requiredValidation],
          username: [requiredValidation],
          email: [requiredValidation],
          password: [requiredValidation],
          passwordConfirm: [passwordConfirmValid]
        }
      }
    },
    mounted() {
      if (this.idUser) {
        ApiService.get(`users/${this.idUser}`).then((res) => {
          this.user = res.data
          this.backupPassword = this.user.password
        })
      }
    },
    methods: {
      saveUser(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (this.idUser) {
              ApiService.put(`users/${this.idUser}`, this.user).then(res => {
                this.$message.success('Se ha actualizado el usuario')
              })
            } else {
              ApiService.post('users', this.user).then(res => {
                this.$refs[formName].resetFields()
                this.$message.success('Se ha guardado el usuario')
              })
            }
          } else {
            this.$message.error('Existen errores en el formulario')
            return false
          }
        })
      }
    }
  }
</script>

<template>
  <div class="page-content">

    <div class="container">

      <div class="content-title">Usuario

        <el-button type="primary" class="pull-right" @click="saveUser('form')">{{ idUser ? 'Actualizar' : 'Guardar' }}</el-button>

        <el-form class="content" :rules="rules" ref="form" label-position="top" :model="user" label-width="120px">

          <el-form-item label="Nombre completo" prop="name">
            <el-input v-model="user.name" placeholder="Ej: Juan Pérez García" :maxlength="200"></el-input>
          </el-form-item>

          <el-form-item label="Nombre de usuario" prop="username">
            <el-input v-model="user.username" placeholder="Ej: jperez" :maxlength="50" :disabled="user.username === 'smilenet'"></el-input>
          </el-form-item>

          <el-form-item label="Email" prop="email">
            <el-input v-model="user.email" placeholder="Ej: jperez@correo.com" :maxlength="100"></el-input>
          </el-form-item>

          <el-form-item label="Contraseña del usuario" prop="password">
            <el-input v-model="user.password" placeholder="Contraseña" :maxlength="50"></el-input>
          </el-form-item>

          <el-form-item label="Confirmar contraseña" prop="passwordConfirm">
            <el-input v-model="user.passwordConfirm" placeholder="Confirmaciòn" :maxlength="50"></el-input>
          </el-form-item>

          <el-button type="primary" class="pull-right" @click="saveUser('form')">{{ idUser ? 'Actualizar' : 'Guardar' }}</el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .container {
    max-width: 700px;
    padding-bottom: 100px;
  }
</style>
