<script>
  import Home from '~components/landing/Home.vue'

  export default {
    components: {
      Home
    }
  }
</script>

<template>
  <div>
    <Home/>
  </div>
</template>

<style>

</style>
