<script>
  import UserList from '~/components/admin/UserList'

  export default {
    layout: 'admin',
    fetch({
      store
    }) {
      store.commit('global/setPageTitle', 'Usuarios')
    },
    components: {
      UserList
    }
  }
</script>

<template>
  <UserList/>
</template>
