<template>
  <div class="home-footer">
    <div class="clearfix"></div>
    <div class="social-media">
      <a href="https://www.facebook.com/SmilenetMX" target="_black">
        <icon name="facebook"></icon>
      </a>
      <a href="https://twitter.com/smilenet_mx" target="_black">
        <icon name="twitter"></icon>
      </a>
      <a href="https://www.instagram.com/smilenetmx" target="_black">
        <icon name="instagram"></icon>
      </a>
      <a href="https://www.youtube.com/channel/UCypMqDxa6gYntI6uPCIGX-w" target="_black">
        <icon name="youtube"></icon>
      </a>
    </div>
    <a class="terms" href="http://www.smilenet.mx/tienda/terminos-y-condiciones-de-smilenet" target="_blank">Términos y condiciones <br>de Smilenet</a>
    <div class="page-info">
      <div class="copyright">
        © smilenet | 2017
      </div>
      <a class="madeby" href="https://www.facebook.com/vivosonriendoac" target="_black">
        <label>Este sitio es un <br>producto hecho por</label>
        <img src="/img/vivosonriendo.png" />
      </a>
    </div>
  </div>
</template>

<style lang="scss">
  @import '~assets/_variables';
  .home-footer {
    min-height: 20vh;
    background: rgba($teal-color, 0.9);
    padding: 35px;
    color: #fff;
    text-align: center;
    .page-info {
      padding-top: 40px;
      font-size: 1.3rem;
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 15px;
      display: block;
      &:after, &:before {
        content: '';
        display: block;
        clear: both;
      }
      .copyright {
        float: left;
        height: 78px;
        padding-top: 25px;
      }
      .madeby {
        float: right;
        margin-left: 25px;
        label {
          width: 100%;
          display: block;
          font-size: .9rem;
        }
        img {
          width: 150px;
          opacity: 0.75;
        }
      }
    }
    @media (max-width: 500px) {
      .page-info {
        font-size: 1rem;
      }
    }
    .clear {
      width: 100%;
      position: relative;
    }
    .social-media {
      a {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0.6;
        cursor: pointer;
        color: inherit;
        &:hover {
          opacity: 1;
        }
      }
    }
    .terms {
      display: block;
      margin-top: 25px;
      font-size: .95rem;
    }
  }
</style>
