<script>
  export default {
    data() {
      return {
        scrolled: false
      }
    },
    methods: {
      handleScroll: function() {
        this.scrolled = document.body.scrollTop > 200
      }
    },
    mounted() {
      this.handleScroll()
      window.addEventListener('scroll', this.handleScroll)
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.handleScroll)
    }
  }
</script>

<template>
  <div class="home-header" v-bind:class="{'scrolled': scrolled}">
    <img class="logo" src="/img/logo-smilenet-teal.svg" v-scroll-to="'#main-section'" />
    <div class="menu">
      <a href="/iniciativas" class="item projects-link">Iniciativas</a>
      <a href="#" class="item" v-scroll-to="'#aboutus-section'">¡Nosotros somos!</a>
      <a href="#" class="item" v-scroll-to="'#process-section'">Súmate</a>
      <a href="#" class="item" v-scroll-to="'#donate-section'">Dona</a>
      <a href="http://smilenet.mx/tienda" class="item" target="_blank">Compra</a>
      <a href="#" class="item" v-scroll-to="'#contact-section'">Contáctanos</a>
    </div>

    <div class="menu-mobile">
      <el-dropdown>
        <el-button type="primary">
          Menú<i class="el-icon-caret-bottom el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <li class="el-dropdown-menu__item"><a href="/iniciativas" class="item projects-link">Iniciativas</a></li>
          <el-dropdown-item v-scroll-to="'#aboutus-section'">¡Nosotros somos!</el-dropdown-item>
          <el-dropdown-item v-scroll-to="'#process-section'">Súmate</el-dropdown-item>
          <el-dropdown-item v-scroll-to="'#donate-section'">Dona</el-dropdown-item>
          <li class="el-dropdown-menu__item"><a href="http://smilenet.mx/tienda">Compra</a></li>
          <el-dropdown-item v-scroll-to="'#contact-section'">Contáctanos</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-header {
    background: rgba(#fff, 0.4);
    position: absolute;
    height: $home-header-height;
    width: 100%;
    box-shadow: 0 0 35px -10px rgba(#000, 0.25);
    transition: top 500ms ease;
    .logo {
      width: 200px;
      filter: drop-shadow(3px 3px 6px rgba(#fff, 0.5));
      margin-left: 35px;
      cursor: pointer;
    }
    .menu {
      float: right;
      padding-top: 30px;
      display: none;
      .item {
        display: inline-block;
        font-size: 1rem;
        padding: 10px;
        margin-right: 3px;
        text-transform: uppercase;
        text-decoration: none;
        color: $teal-color;
        transition: background-color 500ms ease-out;
        border-radius: 5px;
        &.projects-link, &:hover {
          background-color: $teal-color;
          color: #fff;
        }
        &.projects-link:hover{
          box-shadow: 0 0 7px #ccc;
          font-size: 1.1rem;
          font-weight: bold;

        }
        &:last-child {
          padding-right: 15px;
        }
      }
    }
    .menu-mobile {
      display: block;
      position: absolute;
      right: 20px;
      top: 30px;
    }
    @media (min-width: 980px) {
      .menu {
        display: block;
      }
      .menu-mobile {
        display: none;
      }
    }
  }

  .home-header.scrolled {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 55px;
    width: 100%;
    background: rgba(#fff, 0.95);
    .logo {
      width: 100px;
    }
    .menu {
      padding-top: 8px;
    }
    .menu-mobile {
      top: 10px;
    }
  }
</style>
