<script>
  import HomeHeader from '~components/landing/HomeHeader.vue'
  import HomeMainSection from '~components/landing/HomeMainSection.vue'
  import HomeAboutusSection from '~components/landing/HomeAboutusSection.vue'
  import HomeProcessSection from '~components/landing/HomeProcessSection.vue'
  import HomeDonateSection from '~components/landing/HomeDonateSection.vue'
  import HomeContactSection from '~components/landing/HomeContactSection.vue'
  import HomeFooter from '~components/landing/HomeFooter.vue'

  if (process.BROWSER_BUILD) {
    window.sr = require('scrollreveal/dist/scrollreveal')()
  }

  export default {
    components: {
      HomeHeader,
      HomeMainSection,
      HomeAboutusSection,
      HomeProcessSection,
      HomeDonateSection,
      HomeContactSection,
      HomeFooter
    },

    mounted() {}
  }
</script>

<template>
  <div class="home">
    <HomeHeader></HomeHeader>
    <HomeMainSection></HomeMainSection>
    <HomeAboutusSection></HomeAboutusSection>
    <HomeProcessSection></HomeProcessSection>
    <HomeDonateSection></HomeDonateSection>
    <HomeContactSection></HomeContactSection>
    <HomeFooter></HomeFooter>
  </div>
</template>

<style lang="scss" scoped>

</style>
