<script>
  export default {
    mounted() {
      window.sr.reveal('.actions .el-button', {
        duration: 1000,
        delay: 250,
        origin: 'left',
        distance: '300px'
      }, 150)
    },
    methods: {
      goToShop() {
        var win = window.open('http://www.smilenet.mx/tienda', '_blank')
        win.focus()
      }
    }
  }
</script>

<template>
  <div id="main-section" class="home-main-section">
    <div class="video-bg">
      <video loop muted autoPlay class="fullscreen-video">
                  <source src="/video/main-section-bg.webm" type="video/webm" />
                  <source src="/video/main-section-bg.mp4" type="video/mp4" />
                  <source src="/video/main-section-bg.ogg" type="video/ogg" />
                </video>
      <div class="video-mask"></div>
    </div>

    <div class="slogan">Todas las cosas <span class="big teal-font">grandiosas</span>
      <br> <span class="teal-font">comienzan</span> en <span class="small">pequeño</span></div>

    <div class="actions">
      <el-button type="primary" size='large' @click="goToShop()">
        <icon name="shopping-cart"></icon> Tienda</el-button>
      <el-button type="primary" size='large' v-scroll-to="'#donate-section'">
        <icon name="gift"></icon> Donar</el-button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-main-section {
    min-height: 100vh;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    .video-bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      .video-mask {
        background: rgba(#fff, 0.6);
      }
      .fullscreen-video,
      .video-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      @media (min-aspect-ratio: 16/9) {
        .fullscreen-video,
        .video-mask {
          height: 300%;
          top: -100%;
        }
      }
      @media (max-aspect-ratio: 16/9) {
        .fullscreen-video,
        .video-mask {
          width: 300%;
          left: -100%;
        }
      }
    }
    .slogan {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: rgba(#000, 0.7);
      span {
        &.big {
          font-size: 2.5rem;
        }
        &.small {
          font-size: 1rem;
        }
      }
    }
    .actions {
      text-align: center;
      margin-top: 20px;
      .el-button {
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
      }
    }
    @media (min-width: 600px) {
      .slogan {
        text-align: left;
        font-size: 2.7rem;
        line-height: 4rem;
        margin-top: 14vh;
        span.big {
          font-size: 5.2rem;
        }
        span.small {
          font-size: 1.7rem;
        }
      }
      .actions {
        text-align: left;
        .el-button {
          margin-top: 0;
          margin-right: 15px;
          width: auto;
        }
      }
    }
  }

  .el-button {
    font-weight: bold;
  }

  .el-button--large {
    font-size: 1.5rem !important;
  }
</style>
