<script>
  export default {
    data() {
      return {
        banners: [
          '/img/about-us-1.jpg',
          '/img/about-us-2.jpg',
          '/img/about-us-3.jpg',
          '/img/about-us-4.jpg',
          '/img/about-us-5.jpg',
          '/img/about-us-6.jpg'
        ],
        swiperOption: {
          grabCursor: true,
          loop: true,
          speed: 1000,
          autoplay: 2000,
          autoplayDisableOnInteraction: false
        }
      }
    },
    mounted() {
      window.sr.reveal('.about-abstract', {
        duration: 700,
        delay: 200
      })
      window.sr.reveal('.key-concepts .row', {
        duration: 1000,
        delay: 250,
        origin: 'left',
        distance: '300px'
      }, 150)
      window.sr.reveal('.main-photos', {
        duration: 700,
        delay: 250
      })
    }
  }
</script>

<template>
  <div id="aboutus-section" class="home-aboutus-section">

    <div class='ui container'>

      <div class='about-abstract'>Tu plataforma en línea donde con sólo un click <span class='teal-font'>transformarás</span> la vida de <br>millones de personas</div>

      <el-row :gutter="1" class="key-concepts">
        <el-col :xs="24" :sm="12">
          <div class="row">
            <img class='item-image' src="/img/icon-idea-teal.svg" />
            <p>Un espacio donde <span class='teal-font'>apoyas</span> iniciativas ciudadanas, adquiriendo productos locales</p>
          </div>

          <div class="row">
            <img class='item-image' src="/img/icon-cart-green.svg" />
            <p>Confianza y seguridad en cada <span class='green-font'>compra</span> que realices</p>
          </div>

          <div class="row">
            <img class='item-image' src="/img/icon-shirt-yellow.svg" />
            <p>Encuentra productos con <span class='yellow-font'>diseños exclusivos</span> para beneficiar a la comunidad</p>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div class="main-photos">
            <div v-swiper:mainPhotos="swiperOption">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="banner in banners">
                  <img :src="banner">
                </div>
              </div>
            </div>
          </div>
        </el-col>
      </el-row>

      <div class="projects-link"><a href="/iniciativas">¡Conoce las iniciativas!</a></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-aboutus-section {
    background: rgba(#fff, 0.7);
    position: relative;
    min-height: 100vh;
    padding: 35px;
    padding-top: 100px;
    .ui.container {
      max-width: 1024px !important;
      margin: 0 auto;
    }
    .about-abstract {
      text-align: center;
      font-size: 1.75rem;
      line-height: 2.5rem;
      max-width: 550px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .key-concepts {
      .row {
        margin-bottom: 18px;
        .item-image {
          margin-right: 12px;
          float: left;
        }
        p {
          float: right;
          width: calc(100% - 120px);
          font-size: 1.4rem;
          font-weight: lighter;
          line-height: 1.8rem;
          margin: 0;
        }
        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
    }
    .main-photos {
      width: 100%;
      max-height: 345px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 2px 2px 10px #ccc;

      img{
        width: 100%;
      }
    }

    .projects-link{
      margin-top: 45px;
      text-align: center;
      a{
        display: block;
        padding: 20px 30px;
        background: $teal-color;
        color: #fff;
        border-radius: 7px;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        transition: all 300ms ease;

        &:hover{
          box-shadow: 0 0 10px #ccc;
          background: $green-color;
        }
      }
    }

    @media (min-width: 600px) {
      .projects-link {
        max-width: 350px;
        margin: 0 auto;
        margin-top: 35px;
      }
    }
  }
</style>
