<script>
  export default {
    mounted() {
      window.sr.reveal('.heading', {
        duration: 700,
        delay: 400
      })
      window.sr.reveal('.subtitle', {
        duration: 700,
        delay: 600
      })
      window.sr.reveal('.process', {
        duration: 700,
        delay: 800
      })
    }
  }
</script>

<template>
  <div id="process-section" class="home-process-section">
    <div class="heading">¿Cómo me puedo sumar?</div>
    <div class="subtitle">Ayudar a los demás es ayudarse a uno mismo</div>
    <div class="process">
      <img class="item-image" src="/img/process-diagram.svg" />
      <el-row :gutter="1">
        <el-col :xs="24" :sm="6">
          Ingresa
        </el-col>
        <el-col :xs="24" :sm="6">
          Compra o dona
        </el-col>
        <el-col :xs="24" :sm="6">
          Elige la iniciativa
        </el-col>
        <el-col :xs="24" :sm="6">
          Mira su crecimiento
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-process-section {
    min-height: 100vh;
    background: rgba($teal-color, 0.9);
    padding: 35px;
    padding-top: 80px;
    color: #fff;
    .heading {
      font-size: 3.5rem;
      text-align: center;
      margin-bottom: 33px;
      line-height: 4rem;
    }
    .subtitle {
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .process {
      padding-top: 8%;
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      img {
        width: 90%;
      }
      .el-row {
        margin-top: 7px;
        .el-col {
          text-align: center;
          font-size: 1.3rem;
          line-height: 1.75rem;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 15px;
        }
      }
    }
  }
</style>
