<script>
  export default {
    mounted() {
      window.sr.reveal('.heading', {
        duration: 700,
        delay: 400
      })
      window.sr.reveal('.subtitle', {
        duration: 700,
        delay: 500
      })
      window.sr.reveal('.contact-media .row', {
        duration: 1000,
        delay: 250,
        origin: 'right',
        distance: '300px'
      }, 150)
    }
  }
</script>

<template>
  <div id="contact-section" class="home-contact-section">
    <div class="content">
      <el-row>
        <el-col :xs="24" :sm="12">
          <div class="heading">¿Cómo podemos<br>transformar más vidas?</div>
          <div class="subtitle">Si te parece fantástico ¡Contactémonos!</div>
        </el-col>

        <el-col :xs="24" :sm="12" class="contact-media">
          <el-row>
            <img class='item-image' src="/img/icon-mail-white.svg" />
            <p><b>Email</b><br>Permítenos responder a tus preguntas, comentarios y sugerencias a través de: <a href="mailto:contacto@smilenet.mx">contacto@smilenet.mx</a></p>
          </el-row>

          <el-row>
            <img class='item-image' src="/img/icon-tel-white.svg" />
            <p><b>Teléfono</b><br>Si tu pregunta es de carácter urgente, comunícate con nuestro equipo de servicio al cliente a través de nuestro teléfono: <a href="tel:6444147385">(644) 414 7385</a></p>
          </el-row>
        </el-col>

      </el-row>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-contact-section {
    background: rgba($teal-color, 0.9);
    padding: 35px;
    padding-top: 100px;
    color: #fff;
    .content {
      margin-left: 3%;
      margin-right: 3%;
      .heading {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 33px;
        line-height: 3.2rem;
        background: rgba(#fff, 0.2);
        padding: 15px;
        border-radius: 10px;
      }
      .subtitle {
        text-align: left;
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 2.5rem;
      }
      .el-col {
        padding: 30px !important;
      }
      .contact-media {
        .el-row {
          margin-bottom: 40px;
          .item-image {
            margin-right: 12px;
            float: left;
            display: none;
          }
          p {
            width: 100%;
            font-size: 1.4rem;
            margin: 0;
            font-weight: lighter;
          }
          a {
            color: inherit;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            }
          }
          &::after {
            content: "";
            display: block;
            clear: both;
          }
          @media (min-width: 700px) {
            .item-image {
              display: block;
            }
            p {
              float: right;
              width: calc(100% - 120px);
              font-size: 1.4rem;
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
</style>
