<script>
  export default {
    mounted() {
      window.sr.reveal('.heading', {
        duration: 700,
        delay: 400
      })
      window.sr.reveal('.subtitle', {
        duration: 700,
        delay: 600
      })
      window.sr.reveal('.cuantities el-button', {
        duration: 500,
        delay: 300,
        origin: 'right',
        distance: '700px'
      }, 200)
    },
    methods: {
      goToDonate(cuantity) {
        var win = window.open(`http://www.smilenet.mx/tienda/producto/donacion-${cuantity}`, '_blank')
        win.focus()
      }
    }
  }
</script>

<template>
  <div id="donate-section" class="home-donate-section">
    <img class="bg" src="/img/donate-bg.jpg" />
    <div class="content">
      <div class="heading yellow-font">Porque si donas<br><span class="green-font">transformas</span></div>
      <div class="subtitle teal-font">Selecciona la cantidad que deseas donar </div>
      <div class="cuantities">
        <el-button type="primary" size="large" @click="goToDonate(100)">$ 100</el-button>
        <el-button type="warning" size="large" @click="goToDonate(200)">$ 200</el-button>
        <el-button type="success" size="large" @click="goToDonate(300)">$ 300</el-button>
        <el-button type="primary" size="large" @click="goToDonate(500)">$ 500</el-button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '~assets/_variables';
  .home-donate-section {
    min-height: 100vh;
    background: #fff;
    color: $teal-color;
    img.bg {
      height: 100%;
      position: absolute;
      opacity: 0.2;
    }
    @media (min-width: 700px) {
      img.bg {
        opacity: 0.6;
      }
    }
    .content {
      padding-right: 10%;
      padding-top: 25vh;
      text-align: right;
      text-shadow: 0 0 5px #fff;
      .heading {
        font-size: 3.5rem;
        line-height: 4rem;
      }
      .subtitle {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 40px;
      }
      .cuantities {
        margin-top: 25px;
        position: absolute;
        right: 10%;
        .el-button {
          margin-bottom: 8px;
        }
      }
    }
  }
</style>
