:root {

  /* Transition
  -------------------------- */

  /* Colors
  -------------------------- *//*color(var(--color-base-black) h(+6) s(33%) l(95%));*/

  /* Link
  -------------------------- */

  /* Border
  -------------------------- */

  /* Box-shadow
  -------------------------- */

  /* Fill
  -------------------------- */

  /* Font
  -------------------------- */

  /* Size
  -------------------------- */

  /* z-index
  -------------------------- */

  /* Disable base
  -------------------------- */

  /* Icon
  -------------------------- */

  /* Checkbox
  -------------------------- */

  /* Radio
  -------------------------- */

  /* Select
  -------------------------- */

  /* Alert
  -------------------------- */

  /* Message Box
  -------------------------- */

  /* Message
  -------------------------- */

  /* Notification
  -------------------------- */

  /* Input
  -------------------------- */

  /* Cascader
  -------------------------- */

  /* Group
  -------------------------- */

  /* Tab
  -------------------------- */

  /* Button
  -------------------------- */


  /* cascader
  -------------------------- */

  /* Switch
 -------------------------- */

  /* Dialog
 -------------------------- */

  /* Table
 -------------------------- */

  /* Pagination
 -------------------------- */

  /* Popover
 -------------------------- */

  /* Tooltip
  -------------------------- */

  /* Tag
  -------------------------- */

  /* Dropdown
  -------------------------- */

  /* Badge
  -------------------------- */

  /* Card
  --------------------------*/

  /* Slider
  --------------------------*/

  /* Steps
  --------------------------*/

  /* Menu
  --------------------------*/

  /* Rate
  --------------------------*/

  /* DatePicker
  --------------------------*/

  /* Loading
  --------------------------*/

  /* Scrollbar
  --------------------------*/

  /* Carousel
  --------------------------*/

  /* Collapse
  --------------------------*/
}
