@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-form{}

.el-form--label-left{}

.el-form--label-left .el-form-item__label{
    text-align: left;
}

.el-form--label-top{}

.el-form--label-top .el-form-item__label{
    float: none;
    display: inline-block;
    text-align: left;
    padding: 0 0 10px 0;
}

.el-form--inline{}

.el-form--inline .el-form-item{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.el-form--inline .el-form-item__label{
    float: none;
    display: inline-block;
}

.el-form--inline .el-form-item__content{
    display: inline-block;
    vertical-align: top;
}

.el-form--inline.el-form--label-top .el-form-item__content{
    display: block;
}

.el-form-item{
    margin-bottom: 22px;
}

.el-form-item:before, .el-form-item:after{
    display: table;
    content: "";
}

.el-form-item:after{
    clear: both;
}

.el-form-item .el-form-item{
    margin-bottom: 0;
}

.el-form-item .el-form-item .el-form-item__content{
    margin-left: 0 !important;
}

.el-form-item.is-error .el-input-group__append, .el-form-item.is-error .el-input-group__prepend, .el-form-item.is-error{}

.el-form-item.is-error .el-input-group__append .el-input__inner, .el-form-item.is-error .el-input-group__prepend .el-input__inner, .el-form-item.is-error .el-input__inner{
    border-color: transparent;
}

.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner{
    border-color: #FF4705;
}

.el-form-item.is-required .el-form-item__label:before{
    content: '*';
    color: #FF4705;
    margin-right: 4px;
}

.el-form-item__label{
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: rgb(72, 104, 106);
    line-height: 1;
    padding: 11px 12px 11px 0;
    box-sizing: border-box;
}

.el-form-item__content{
    line-height: 36px;
    position: relative;
    font-size: 14px;
}

.el-form-item__content:before, .el-form-item__content:after{
    display: table;
    content: "";
}

.el-form-item__content:after{
    clear: both;
}

.el-form-item__error{
    color: #FF4705;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /*color(var(--color-base-black) h(+6) s(33%) l(95%));*/
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}