@font-face {
    font-family: 'element-icons';
    src: url('fonts/element-icons.woff?t=1472440741') format('woff'), /* chrome, firefox */
      url('fonts/element-icons.ttf?t=1472440741') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    font-weight: 400;
    font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'element-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-arrow-down:before { content: "\e600"; }
.el-icon-arrow-left:before { content: "\e601"; }
.el-icon-arrow-right:before { content: "\e602"; }
.el-icon-arrow-up:before { content: "\e603"; }
.el-icon-caret-bottom:before { content: "\e604"; }
.el-icon-caret-left:before { content: "\e605"; }
.el-icon-caret-right:before { content: "\e606"; }
.el-icon-caret-top:before { content: "\e607"; }
.el-icon-check:before { content: "\e608"; }
.el-icon-circle-check:before { content: "\e609"; }
.el-icon-circle-close:before { content: "\e60a"; }
.el-icon-circle-cross:before { content: "\e60b"; }
.el-icon-close:before { content: "\e60c"; }
.el-icon-upload:before { content: "\e60d"; }
.el-icon-d-arrow-left:before { content: "\e60e"; }
.el-icon-d-arrow-right:before { content: "\e60f"; }
.el-icon-d-caret:before { content: "\e610"; }
.el-icon-date:before { content: "\e611"; }
.el-icon-delete:before { content: "\e612"; }
.el-icon-document:before { content: "\e613"; }
.el-icon-edit:before { content: "\e614"; }
.el-icon-information:before { content: "\e615"; }
.el-icon-loading:before { content: "\e616"; }
.el-icon-menu:before { content: "\e617"; }
.el-icon-message:before { content: "\e618"; }
.el-icon-minus:before { content: "\e619"; }
.el-icon-more:before { content: "\e61a"; }
.el-icon-picture:before { content: "\e61b"; }
.el-icon-plus:before { content: "\e61c"; }
.el-icon-search:before { content: "\e61d"; }
.el-icon-setting:before { content: "\e61e"; }
.el-icon-share:before { content: "\e61f"; }
.el-icon-star-off:before { content: "\e620"; }
.el-icon-star-on:before { content: "\e621"; }
.el-icon-time:before { content: "\e622"; }
.el-icon-warning:before { content: "\e623"; }
.el-icon-delete2:before { content: "\e624"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e626"; }

.el-icon-loading {
  animation: rotating 1s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}
.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
:root { /* Transition
  -------------------------- */ /* Colors
  -------------------------- */ /*color(var(--color-base-black) h(+6) s(33%) l(95%));*/ /* Link
  -------------------------- */ /* Border
  -------------------------- */ /* Box-shadow
  -------------------------- */ /* Fill
  -------------------------- */ /* Font
  -------------------------- */ /* Size
  -------------------------- */ /* z-index
  -------------------------- */ /* Disable base
  -------------------------- */ /* Icon
  -------------------------- */ /* Checkbox
  -------------------------- */ /* Radio
  -------------------------- */ /* Select
  -------------------------- */ /* Alert
  -------------------------- */ /* Message Box
  -------------------------- */ /* Message
  -------------------------- */ /* Notification
  -------------------------- */ /* Input
  -------------------------- */ /* Cascader
  -------------------------- */ /* Group
  -------------------------- */ /* Tab
  -------------------------- */ /* Button
  -------------------------- */ /* cascader
  -------------------------- */ /* Switch
 -------------------------- */ /* Dialog
 -------------------------- */ /* Table
 -------------------------- */ /* Pagination
 -------------------------- */ /* Popover
 -------------------------- */ /* Tooltip
  -------------------------- */ /* Tag
  -------------------------- */ /* Dropdown
  -------------------------- */ /* Badge
  -------------------------- */ /* Card
  --------------------------*/ /* Slider
  --------------------------*/ /* Steps
  --------------------------*/ /* Menu
  --------------------------*/ /* Rate
  --------------------------*/ /* DatePicker
  --------------------------*/ /* Loading
  --------------------------*/ /* Scrollbar
  --------------------------*/ /* Carousel
  --------------------------*/ /* Collapse
  --------------------------*/
}