.el-menu:before, .el-menu:after{
  display: table;
  content: "";
}
.el-menu:after{
  clear: both;
}@charset "UTF-8";
:root{
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
}

.el-menu-item, .el-submenu__title{
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: rgb(72, 104, 106);
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;
}

.el-menu{
  border-radius: 2px;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #f9f9f9;
}

.el-menu li{
  list-style: none;
}

.el-menu--dark{
  background-color: rgb(50, 83, 87);
}

.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title{
  color: rgb(191, 216, 217);
}

.el-menu--dark .el-menu-item:hover, .el-menu--dark .el-submenu__title:hover{
  background-color: rgb(72, 104, 106);
}

.el-menu--dark .el-submenu .el-menu{
  background-color: rgb(31, 60, 61);
}

.el-menu--dark .el-submenu .el-menu .el-menu-item:hover{
  background-color: rgb(72, 104, 106);
}

.el-menu--horizontal{}

.el-menu--horizontal .el-menu-item{
  float: left;
  height: 60px;
  line-height: 60px;
  margin: 0;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
}

.el-menu--horizontal .el-menu-item a, .el-menu--horizontal .el-menu-item a:hover{
  color: inherit;
}

.el-menu--horizontal .el-menu-item:hover{
  background-color: rgb(209, 229, 229);
}

.el-menu--horizontal .el-submenu{
  float: left;
  position: relative;
}

.el-menu--horizontal .el-submenu > .el-menu{
  position: absolute;
  top: 65px;
  left: 0;
  border: 1px solid rgb(209, 229, 229);
  padding: 5px 0;
  background-color: #fff;
  z-index: 100;
  min-width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12), 0px 0px 6px 0px rgba(0,0,0,0.04);
}

.el-menu--horizontal .el-submenu .el-submenu__title{
  height: 60px;
  line-height: 60px;
  border-bottom: 5px solid transparent;
}

.el-menu--horizontal .el-submenu .el-menu-item{
  background-color: #fff;
  float: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}

.el-menu--horizontal .el-submenu .el-submenu__icon-arrow{
  position: static;
  vertical-align: middle;
  margin-left: 5px;
  color: rgb(151, 187, 190);
  margin-top: -3px;
}

.el-menu--horizontal .el-menu-item:hover, .el-menu--horizontal .el-submenu__title:hover{
  background-color: #f9f9f9;
}

.el-menu--horizontal > .el-menu-item:hover, .el-menu--horizontal > .el-submenu:hover .el-submenu__title, .el-menu--horizontal > .el-submenu.is-active .el-submenu__title{
  border-bottom: 5px solid #00BCB4;
}

.el-menu--horizontal.el-menu--dark{}

.el-menu--horizontal.el-menu--dark .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu__title:hover{
  background-color: rgb(50, 83, 87);
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title{
  color: rgb(72, 104, 106);
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title:hover{
  background-color: rgb(209, 229, 229);
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active{
  color: #00BCB4;
}

.el-menu-item [class^="el-icon-"]{
  vertical-align: baseline;
  margin-right: 10px;
}

.el-menu-item:first-child{
  margin-left: 0;
}

.el-menu-item:last-child{
  margin-right: 0;
}

.el-menu-item:hover{
  background-color: rgb(209, 229, 229);
}

.el-menu-item.is-active{
  color: #00BCB4;
}

.el-submenu [class^="el-icon-"]{
  vertical-align: baseline;
  margin-right: 10px;
}

.el-submenu .el-menu{
  background-color: rgb(228, 239, 241);
}

.el-submenu .el-menu-item{
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
}

.el-submenu .el-menu-item:hover{
  background-color: rgb(209, 229, 229);
}

.el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow{
  transform: rotateZ(180deg);
}

.el-submenu.is-active .el-submenu__title{
  border-bottom-color: #00BCB4;
}

.el-submenu__title{
  position: relative;
}

.el-submenu__title:hover{
  background-color: rgb(209, 229, 229);
}

.el-submenu__icon-arrow{
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  transition: transform .3s;
  font-size: 12px;
}

.el-menu-item-group > ul{
  padding: 0;
}

.el-menu-item-group__title{
  padding-top: 15px;
  line-height: normal;
  font-size: 14px;
  padding-left: 20px;
  color: rgb(151, 187, 190);
}
:root{
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /*color(var(--color-base-black) h(+6) s(33%) l(95%));*/
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
}